body 
    +Montserrat(normal, 16px)
    padding: 0
    margin: 0
    color: $fontColor
.container 
    width: 89%
    padding: 0
    margin: auto
.title 
    +PlayFair(bold, 36px)
.subtitle
    +Montserrat(500, 18px)  
.button 
    position: relative
    width: 200px
    height: 58px
    padding: 20px 50px
    +PlayFair(bold, 18px)
    background-color: $buttonColor
    color: $btnfontColor
    transition: 0.5s
    border: none
    outline: none
    cursor: pointer
    &::after
        position: absolute
        box-sizing: border-box 
        content: ''
        width: 200px
        height: 58px
        bottom: 0px
        right: 0px
        border: 1px solid $buttonColor
        background-color: transparent
        transition: 0.3s
    &::before  
        position: absolute  
        box-sizing: border-box 
        content: ''
        width: 200px
        height: 58px
        left: 0px
        top: 0px
        border: 1px solid $buttonColor
        background-color: transparent
        transition: 0.3s
    &:hover
        transition: 0.3s
        &::after
            bottom: -5px
            right: -5px    
            transition: 0.3s     
        &::before  
            left: -5px
            top: -5px
            transition: 0.3s
.catalog__button
        width: 180px
        height: 48px
        +PlayFair(bold, 18px)
        padding: 10px 40px
        border: 1px solid $buttonColor
        outline: none
        background-color: transparent
        color: $fontColor
        transition: 0.5s
        cursor: pointer
        &:hover
            background-color: $buttonColor
            color: $btnfontColor
@mixin border-bottom_hover()
    &::after 
        position: absolute
        content: ""
        width: 0
        height: 2px
        background-color: $mainColor
        bottom: -1px
        left: 0
        transition: all .5s
    &:hover
        &:after 
            width: 100%
.link 
    text-decoration: none
    color: $fontColor
.input__text
    width: 385px
    height: 23px
    margin-bottom: 30px
    background-color: transparent
    border: none
    outline: none
    color: $mainColor
    border-bottom: 1px solid $mainColor
    &:focus
        border-bottom: 1px solid $fontColor
    &::placeholder
        color: $mainColor
.cite__link
    border-bottom: 1px solid $strokeColor
    & > svg
        margin-left: 20px
.form__checkbox-label
    color: $fontColor
    cursor: pointer
@media (max-width:  1440px)
    body
        font-size: 14px
    .title 
        font-size: 30px
    .subtitle
        font-size: 16px
@media (max-width:  768px)
    .container 
        width: 79.5%
@media (max-width:  766px)
    .container 
        width: 87.5%
    .input__text
        width: 87.5%
    body
        font-size: 14px
    .title 
        font-size: 26px
@media (max-width: 480px)
    .subtitle
        line-height: 26px