.catalog
    padding: 150px 0px 100px 0px
    &__title
        padding: 0
        margin: 0
    &__subtitle
        margin-bottom: 60px
    &__wrap
        display: flex
        flex-wrap: wrap
    &__item
        box-sizing: border-box
        flex-basis: 22%
        margin-right: 45px
        margin-bottom: 40px
        &:nth-of-type(4n)
            margin-right: 0
        &-img
            height: 328px
            width: 328px
        &-good
            background-color: #FEFEFE
            padding: 0 20px 35px 30px
            border: 1px solid transparent
            transition: .5s
            &:hover
                border: 1px solid $strokeColor
        &-title
            color: $mainColor
            +Montserrat(500, 18px)
            padding: 0
            margin: 0
        &-description
            color: $mainColor
            line-height: 28px
            height: 50px
    &__price
        padding: 30px
        +PlayFair(bold, 24px)
        color: $mainColor
    &__button
        float: right
    &__slider
        display: none
    &__more
        position: relative
        text-align: center
        margin-bottom: 2px
        & > a 
            &::after 
                position: absolute
                content: ""
                width: 0
                height: 2px
                background-color: $mainColor
                bottom: -1px
                left: 47.8%
                transition: all .5s
            &:hover
                &:after 
                    width: 70px
        & svg
            margin-left: 20px
@media (max-width:  1440px)
    .catalog
        padding: 100px 0px 100px 0px
        &__item
            &-img
                height: 220px
                width: 220px  
        &__price
            padding: 25px 20px
            font-size: 18px
        &__button
            width: 150px
            padding: 10px
            margin-top: -10px
@media (max-width: 768px)
    .catalog
        &__item
            flex-basis: 40%
            margin-right: 40px
            margin-bottom: 40px
            &:nth-of-type(2n)
                margin-right: 0
        &__more
            & > a 
                &::after 
                    left: 44.5%    
@media (max-width: 480px)
    .catalog
        &__subtitle
            margin-bottom: 40px
            position: relative
            &::after
                left: 0
                bottom: -20px
                position: absolute
                content: ''
                width: 100%
                height: 1px
                background-color: $strokeColor
        &__item
            flex-basis: 100%
            margin-bottom: 40px
            display: none
            &:nth-of-type(1)
                display: block
        &__more
            display: none
        &__slider
            text-align: center
            display: block
            margin: auto
            margin-top: 10px
            & > svg 
                margin-right: 20px
                & > path 
                    &:hover
                        stroke: $fontColor  
                
