.question
    &__block
        box-sizing: border-box
        position: absolute
        right: 0
        top: 0
        background-color: $btnfontColor
        margin-top: 10px
        padding: 70px 0px 75px 140px
        width: 44%
        height: 560px
    &__form
        display: flex
        flex-direction: column
    &__title 
        padding: 0
        margin-top: 0
        margin-bottom: 60px
.contacts
    position: relative
    z-index: 1
    &__title
        padding-top: 100px
        padding-left: 120px
    &__wrap
        width: 57%
    &__list
        display: flex
        flex-wrap: wrap 
        padding-left: 120px
        margin-bottom: 50px
    &__item
        +Montserrat(normal, 18)
        flex-basis: 30%
        line-height: 24px
        &:nth-child(2n)
            margin-left: 200px 
    &__back-title
        z-index: -1
        top: 50px
        left: 70px
        position: absolute
        +PlayFair(normal, 340px)
        color: $backSquerColor
.form__checkbox
    opacity: 0
    &-label
        position: relative
        font-size: 10px
        &::before
            position: absolute
            content: '\2714'
            line-height: 10px
            top: 0
            left: -20px
            color: #ffffff
            font-size: 9px
            width: 10px
            height: 10px
            background-color: #ffffff
            border: 1px solid $strokeColor
input[type='checkbox']:checked + label:before
    background-color: $strokeColor
    color:#fff
#license 
    margin-bottom: 15px 
#mailing
    margin-bottom: 50px  
@media (max-width: 1440px)
    .question
        &__block
            z-index: 1
            margin-top: 115px
            width: 50%
    .contacts
        padding-top: 30px
        &__title
            padding-top: 100px
            margin-bottom: 75px
            padding-left: 0  
        &__wrap
            width: 50%
        &__list
            padding-left: 0px
            margin-bottom: 80px
        &__item
            font-size: 16px
            line-height: 20px
            &:nth-child(2n)
                margin-left: 150px 
        &__back-title
            top: 260px
            left: 50px
            font-size: 220px
        &__maps
            z-index: 0
            margin-left: -80px
@media (max-width: 768px)
    .question
        &__block
            position: relative
            width: 100%
            margin-top: 0
    .contacts
        display: block
        padding-top: 50px
        &__title
            padding-top: 0px
            margin-bottom: 50px
            margin-left: 10%
        &__wrap
            position: relative
            display: flex
            flex-direction: column
            width: 100%
        &__list
            display: flex
            flex-wrap: wrap 
            padding-left: 10%
            margin-bottom: 10px
        &__item
            flex-basis: 40%
            margin-left: 0
            margin-top: 0
            margin-bottom: 10px
            &:nth-child(2n)
                margin-left: 50px 
        &__back-title
            top: 0
            font-size: 220px
            left: -30px
        &__maps
            position: relative
            width: 100%
            margin-left: 0
        &__container
            width: 100%
.form
    &__button
        margin-left: 100px
@media (max-width: 480px)
    .contacts   
        padding-bottom: 60px
    .question
        &__block
            padding-left: 5%
    .contacts
        &__title
            margin-bottom: 40px
        &__item
            line-height: 26px
            flex-basis: 100%
            margin: 0
            margin-left: 5%
            margin-bottom: 10px
            &:nth-child(2n)
                margin-left: 5%
        &__back-title
            top: 150px
            font-size: 120px
            left: -30px
        &__maps
            height: 137px
    .form__checkbox
        &-label
            font-size: 8px
    .form
        &__button
            margin: auto