.features
    &__title
        margin: 0
        padding: 0
    &__wrap
        display: flex
        margin-top: 55px
    &__item
        flex-basis: 23%
        margin-right: 70px
        &-title
            width: 20%
            border-bottom: 1px solid $strokeColor
            margin: 20px 0
            +PlayFair(bold, 20px)
        &-description
            line-height: 26px
            