.footer
    background-color: $headFootColor
    height: 80px
    &__wrap
        display: flex
        justify-content: space-between
    &__logo
.wrap
    display: flex
    justify-content: space-between
    flex-basis: 80%
.confidence
    margin-top: 25px
    font-size: 12px
.creator
    text-align: right
    margin-top: 25px
    font-size: 12px
