@font-face {
  font-family: 'PlayfairDisplay-Bold';
  src: url('PlayfairDisplay-Bold.eot');
  src: url('PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
       url('PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg'),
       url('PlayfairDisplay-Bold.ttf') format('truetype'),
       url('PlayfairDisplay-Bold.woff') format('woff'),
       url('PlayfairDisplay-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

